/* Estilo Geral */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
--color-white:white;
--color-black:black;
--color-gray:gray;
}

body{
    background-color: var(--color-black);
}

.container{
    max-width: 1280px;
    margin: auto;
}

.interface{
    padding: 40px 4%;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    color: var(--color-white);
    font-size: 40px;
    text-align: center;
}

span{
    color: var(--color-gray);
}